@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham/gotham_book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Regular-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/Myriad Pro/MyriadPro-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/Myriad Pro/MyriadPro-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Timepo';
	src: url('fonts/Timepo/Tiempo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/Akzidenz Grotesk/AkzidGroCFFLig.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/Akzidenz Grotesk/AkzidGroCFFBol.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Coranto 2';
	src: url('fonts/Coranto2/Coranto2-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


a {
	color: inherit;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

a:focus, a:visited, a:hover, a:active{
	text-decoration: none;
	outline: none;
}

h1 {
	font-family: 'Swift', 'Times New Roman';
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 34px;
}

h2 {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-size: 26px;
	margin-top: 10px;
}

h4 {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
}

p {
	margin-bottom: 18px;
}

hr {
	border-top: 1px solid #d1cece;
}

.aligncenter {
	margin: 0px auto 5px;
	display: block;
}

.author-page-content {
	margin-top: 60px;
}

.author-page-name {
	font-family: 'Gotham', sans-serif;
	font-weight: bold;
	font-size: 27px;
	line-height: 1.5em;
	text-transform: uppercase;
}

.author-page-bio {
	font-family: 'Swift', 'Georgia';
	font-style: italic;
	font-weight: normal;
	line-height: 1.3em;
	width: 81%;
	padding-left: 5%;
	display: inline-block;
	vertical-align: top;
}

.author-page-avatar {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 18%;
	display: inline-block;
	vertical-align: top;
}

.author-page-feat {
	margin-bottom: 50px;
}

.author-page-feat-image {
	width: 80%;
	margin-top: 20px;
}

.author-page-feat-info .article-author {
	font-size: 18px;
}

.author-page-feat-info .article-date {
	font-size: 18px;
}

.author-page-article {
	margin-bottom: 50px;
}

.author-page-article-image {
	width: 28%;
	display: inline-block;
	margin-right: 3%;
}

.author-page-article-info {
	vertical-align: top;
	display: inline-block;
	width: 68%;
}

.author-page-article-info .article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
	margin-bottom: 5px;
}

.author-page-article-info h4 {
	font-size: 16px;
	margin-top: 0px;
}

.contact-form {
	font-family: 'Helvetica', sans-serif;
}

.contact-form input {
	background: #bababa;
	border: none;
}

.contact-form textarea {
	background: #bababa;
	border: none;
}

.contact-form .pushbutton-wide {
	text-transform: uppercase;
	color: white;
	background: rgb(51, 51, 51);
	font-size: 16px;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.navbar {
	min-height: 30px;
}

.navbar-fixed-top {
	background-color: white;
	height: 42px;
}

.navbar-brand {
	line-height: inherit;
	padding: 5px;
	padding-left: 20px;
}

.navbar-brand img {
	width: 33px;
}

.navbar-links {
	padding-top: 10px;
}

.navbar-collapse {
	height: 42px;
}

.nav-link {
	font-family: "Gotham", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8px;
	margin-right: 5px;
}

.nav-article-title {
	font-family: "Coranto 2", "Times New Roman";
	font-size: 16px;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8px;
	margin-right: 5px;
}

.navbar-links .active{
	color: white;
	background-color: black;
}

.nav-link-divider {
	border: 0.5px solid black;
	border-bottom: 2px solid black;
	border-top: 0px solid black;
}

.navbar-progress {
	width: 100%;
	height: 100%;
	background: #e6e6e6;
	position: absolute;
	top: 0;
	z-index: -1;
}

.dropdown-menu {
	border-radius: 0px;
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.11);
	text-transform: uppercase;
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
}

.carousel-control:focus, .carousel-control:hover {
	color: rgb(179, 179, 179);
}

.carousel-control .glyphicon-triangle-left, .carousel-control .icon-prev {
	margin-left: -10px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 30px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .icon-prev {
	left: 50%;
	margin-left: -10px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
}

.carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
	margin-right: -10px;
}

.carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
	right: 50%;
	margin-right: -10px;
}

.carousel-inner {
	height: 380px;
}

.carousel-control {
	left: -100px;
	color: rgb(179, 179, 179);
	text-shadow: none;
}

.carousel-control.left{
	background-image: none;
}

.carousel-control.right {
	left: 570px;
	background-image: none;
}

.carousel-caption {
	text-shadow: none;
	color: inherit;
	bottom: -70px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	height: 70px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #e6e6e6;
	text-overflow: ellipsis;
	display: table;
}

.carousel-caption h4{
	margin-top: 0px;
	margin-bottom: 0px;
	display: table-cell;
	vertical-align: middle;
}

footer {
	background-color: #333;
	padding: 15px;
	color: white;
	height: 74px;
	font-size: 16px;
	margin-top: 40px;
}

footer img {
	width: 50px;
	float: left;
}

footer p {
	margin-bottom: 0px;
}

.footer-copyright {
	color: rgb(168, 168, 168);
	margin-top: 10px;
}
.footer-links {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-link-row {
	margin-bottom: 2px;
}

.footer-link {
	margin-right: 15px;
}

.front-header {
	margin-bottom: 200px;
}
.front-sidebar {
	padding-top: 50px;
	padding-left: 34px;
	width: 13.7%;
	padding-right: 0px;
}


.category-carousel {
	margin-top: 50px;
	margin-bottom: 50px;
}

.category-carousel-caption {
	text-transform: uppercase;
}

.category-carousel-image-container {
	height: 310px;
	overflow: hidden;
}

.category-carousel-image-container img {
	display: block;
	width: 100%;
}

.front-sidebar-menu {
	list-style: none;
	padding-left: 0;
	font-family: 'Gotham', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
}

.front-sidebar-menu li {
	padding-bottom: 8px;
}

.front-sidebar-menu .active {
	font-weight: bold;
}

.front-sidebar-menu .inactive, .dropdown-menu .inactive{
	color: rgb(134, 134, 134);
}

#magCollapse {
	font-size: 12px;
	margin-left: 16px;
}

#carouselMenuSpacer {
	font-size: 45px;
	visibility: hidden;
}

.container {
}

.front-carousel {
	padding-right: 0px;
	padding-left: 0px;
	margin-left: -7.7%;
	width: 94%;
	height: 600px;
	overflow: hidden;
}

.front-carousel-image {
	width: 100%;
	position: absolute;
	-webkit-transition: 0.75s;
	transition: 0.75s;
}

.front-carousel-image-container {
	width: 100%;
}

.front-carousel-menu {
	position: absolute;
	right: 0;
	top: 300px;
	padding-right: 0px;
	padding-left: 0px;
	z-index: 999;
}

.front-carousel-item {
	background: #e6e6e6;
	padding: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 7.1%;
	-webkit-transition: background 0.75s;
	transition: background 0.75s;
	cursor: pointer;
	text-decoration: none;
}

.front-carousel-menu a:focus {
	color: inherit;
}

.front-carousel-menu .active {
	background: white;
}

.front-sidebar-logo {
	width: 110px;
}

.front-article-title {
	margin-bottom: 7px;
	margin-top: 0px;
}

.carousel-desc {
	margin-bottom: 0px;
}

.article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
}

.article-link .article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
}

.article-link h4 {
	font-size: 16px;
}

.article-author {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.article-date {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.article-link {
	margin-bottom: 50px;
	padding: 6px;
	padding-right: 12px;
}

.article-image {
	width: 100%;
	padding-bottom: 15px;
}


.article-multimedia {
	border: 2px solid;
}

.article-list {
	margin-top: 50px;
}

.category-title-border {
	border-top: 2px solid rgb(179, 179, 179);
	margin-bottom: 0px;
	margin-top: 10px;
}

.post-divider {
	margin-left: -600px;
	padding-bottom: 10px;
}

.category-title {
	font-family: 'Gotham', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	background: rgb(179, 179, 179);
}

.title-multimedia {
	display: inline-block;
}

.multimedia-icon {
	width: 40px;
	padding-bottom: 6px;
}

.front-magazine {
	border: 2px solid;
	padding: 22px;
	font-size: 16px;
}

.front-magazine img {
	width: 100%;
	margin-bottom: 15px;
}

.front-magazine-intro {
	font-family: 'Gotham', sans-serif;
	
}

.front-magazine-desc {
	font-family: 'Gotham Book', sans-serif;
}

.front-magazine-link {
	font-family: 'Gotham';
}

.post-featured-image img{
	width: 100%;
	height: auto;
}

.author-avatar {
	display: inline-block;
	margin-right: 10px;
}

.author-name {
	text-transform: uppercase;
}

.page-content {
	margin-top: 50px;
}

#post a{
	color: #337ab7;
}

#post a:hover{
	color: #23527c;
}

.post-container {
	margin-bottom: 40px;
}
.post-info {
	font-family: 'Helvetica', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	font-size: 16px;
}

.post-intro {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.post-date {
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
}

.post-content {
	font-family: 'Tiempo', 'Times New Roman';
	font-size: 18px;
	padding-left: 120px;
	margin-top: 15px;
}

#post-end {
	margin-bottom: 50px;
}

.post-container {
	border-right: 1px solid rgb(219, 215, 215);
}

.social-links {
	margin-top: 10px;
}


.social-links img {
	width: 30px;
	margin-right: 3px;
}

.social-links a {

}

.post-sidebar {
	padding-left: 21px;
	padding-right: 21px;
}

.adbox{
	background: gray;
	
}

.ad-top{
	margin-bottom: 20px;
}

.wide {
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.square {
	width: 100%;
	height: 250px;
}

.tall {
	width: 100%;
	height: 550px;
	margin-top: 30px;
}

@media (min-width: 992px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 3.3%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}

@media (min-width: 1200px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 4.9%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}