@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/gotham_bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham/gotham_book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica/Helvetica-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Regular-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Swift';
	src: url('fonts/Swift/Swift-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/Myriad Pro/MyriadPro-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/Myriad Pro/MyriadPro-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Timepo';
	src: url('fonts/Timepo/Tiempo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/Akzidenz Grotesk/AkzidGroCFFLig.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/Akzidenz Grotesk/AkzidGroCFFBol.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('fonts/Akzidenz Grotesk/AkzidGroCFFMd.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Coranto 2';
	src: url('fonts/Coranto2/Coranto2-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


a {
	color: inherit;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

a:focus, a:visited, a:hover, a:active{
	text-decoration: none;
	outline: none;
}

h1 {
	font-family: 'Swift', 'Times New Roman';
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 34px;
}

h2 {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: 300;
	font-size: 26px;
	margin-top: 10px;
}

h3 {
	font-family: 'Gotham', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-top: 10px;
}

h4 {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
}

p {
	margin-bottom: 18px;
}

hr {
	border-top: 1px solid #d1cece;
}

.wp-caption-text {
	font-size: 18px;
	font-family: "Myriad Pro";
	margin-top: 10px;
}
.aligncenter {
	margin: 0px auto 5px;
	display: block;
}

.modal-title{
	font-family: sans-serif;
}

.author-page-content {
	margin-top: 60px;
}

.author-page-name {
	font-family: 'Gotham', sans-serif;
	font-weight: bold;
	font-size: 27px;
	line-height: 1.5em;
	text-transform: uppercase;
}

.author-page-bio {
	font-family: 'Swift', 'Georgia';
	font-style: italic;
	font-weight: normal;
	line-height: 1.3em;
	width: 81%;
	padding-left: 5%;
	display: inline-block;
	vertical-align: top;
}

.author-page-avatar {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 18%;
	display: inline-block;
	vertical-align: top;
}

.author-page-feat {
	margin-bottom: 50px;
}

.author-page-feat-image {
	width: 80%;
	margin-top: 20px;
}

.author-page-feat-info .article-author {
	font-size: 18px;
}

.author-page-feat-info .article-date {
	font-size: 18px;
}

.author-page-article {
	margin-bottom: 50px;
}

.author-page-article-image {
	width: 28%;
	display: inline-block;
	margin-right: 3%;
}

.author-page-article-info {
	vertical-align: top;
	display: inline-block;
	width: 68%;
}

.author-page-article-info .article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
	margin-bottom: 5px;
}

.author-page-article-info h4 {
	font-size: 16px;
	margin-top: 0px;
}

.contact-form {
	font-family: 'Helvetica', sans-serif;
}

.contact-form input {
	background: #bababa;
	border: none;
}

.contact-form textarea {
	background: #bababa;
	border: none;
}

.contact-form .pushbutton-wide {
	text-transform: uppercase;
	color: white;
	background: rgb(51, 51, 51);
	font-size: 16px;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.navbar {
	min-height: 30px;
}

.navbar-fixed-top {
	background-color: white;
	height: 42px;
}

.navbar-brand {
	line-height: inherit;
	padding: 5px;
	padding-left: 20px;
	height: 42px;
}

.navbar-brand img {
	width: 33px;
}

.navbar-links {
	padding-top: 10px;
}

.navbar-collapse {
	background: #f0f0f0;
}

.navbar-toggle {
	margin-top: 4px;
	margin-bottom: 4px;
}

.navbar-collapse.in {
	overflow-y: inherit;
}

@media (max-width: 767px){
	.nav-link {
		font-family: "Gotham", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 14px;
		vertical-align: middle;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 8px;
		margin-right: 5px;
		display: block;
	}
	.navbar-links {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.dropdown-menu {
		border-radius: 0px;
		box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.11);
		text-transform: uppercase;
		font-family: 'Gotham', sans-serif;
		font-size: 13px;
		left: 120px;
		top: -25px;
	}

	.navbar-collapse {
		background: #f0f0f0;
	}
}

@media (min-width: 768px){
	.nav-link {
		font-family: "Gotham", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 14px;
		vertical-align: middle;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 8px;
		margin-right: 5px;
	}

	.navbar-links {
		padding-top: 10px;
		float: left;
	}

	.navbar-title {
		padding-top: 10px;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 535px;
		white-space: nowrap;
	}


	.dropdown-menu {
		border-radius: 0px;
		box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.11);
		text-transform: uppercase;
		font-family: 'Gotham', sans-serif;
		font-size: 13px;
	}
	.navbar-collapse {
		background: transparent;
	}
	.navbar-collapse.collapse {
		display: inline-block !important;
		float: left;
	}
}

.nav-article-title {
	font-family: "Coranto 2", "Times New Roman";
	font-size: 16px;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8px;
	margin-right: 5px;
}

.navbar-links .active{
	color: white;
	background-color: black;
}

.nav-link-divider {
	border: 0.5px solid black;
	border-bottom: 2px solid black;
	border-top: 0px solid black;
}

.navbar-progress {
	width: 100%;
	height: 100%;
	background: #e6e6e6;
	position: absolute;
	top: 0;
	z-index: -1;
}

.dropdown-menu {
	border-radius: 0px;
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.11);
	text-transform: uppercase;
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
}


.searchbar {
	border: none;
	width: 88%;
	transition: 0.3s;
	background: transparent;
	margin-top: 3px;
	margin-left: 5px;
}

.searchbar::-webkit-input-placeholder, .searchbar::-moz-placeholder{
	color: orange;
}

.searchbar-container {
	padding: 11px;
	margin-bottom: 15px;
	font-size: 18px;
	background: #d7d7d7;
	border-radius: 5px;
	padding-left: 16px;
	transition: 0.5s;
}

.searchbar-container.focus{
	background: #5a5a5a;
	color: white;
}

.search-icon {
	font-size: 22px;
	float: left;
	margin-top: 4px;
	margin-right: 7px;
}

.front-header {
	margin-bottom: 200px;
}

/* promo banner on front page, e.g. election map */
.front-promo { 
	margin-top: -130px;
}

.front-sidebar {
	padding-top: 50px;
	padding-left: 34px;
	width: 13.7%;
	padding-right: 0px;
	z-index: 999;
}

.front-sidebar-menu {
	list-style: none;
	padding-left: 0;
	font-family: 'Gotham', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
}

.front-sidebar-menu li {
	padding-bottom: 8px;
}

.front-sidebar-menu .active {
	font-weight: bold;
}

.front-sidebar-menu .inactive, .dropdown-menu .inactive{
	color: rgb(134, 134, 134);
}

#magCollapse, #aboutCollapse {
	font-size: 12px;
	margin-left: 16px;
}

@media (max-width: 767px){
	.front-carousel {
		overflow: hidden;
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (min-width: 768px){
	.front-carousel {
		height: 500px;
		overflow: hidden;
	}
}

@media (min-width: 992px){
	.front-carousel {
		padding-right: 0px;
		padding-left: 0px;
		margin-left: -7.7%;
		width: 94%;
		height: 600px;
		overflow: hidden;
	}

	.front-carousel-menu {
		position: absolute;
		right: 0;
		top: 300px;
		padding-right: 0px;
		padding-left: 0px;
		z-index: 998;
	}
}

.front-carousel-image {
	width: 100%;
	position: absolute;
	-webkit-transition: 0.75s;
	transition: 0.75s;
	opacity: 0;
	visibility: hidden;
}

.front-carousel-image.active {
	width: 100%;
	position: absolute;
	-webkit-transition: 0.75s;
	transition: 0.75s;
	opacity: 1;
	visibility: visible;
}

.front-carousel-image-container {
	width: 100%;
}

.front-carousel-item, .front-carousel-item-mobile {
	background: #e6e6e6;
	padding: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 7.1%;
	-webkit-transition: background 0.75s;
	transition: background 0.75s;
	cursor: pointer;
	text-decoration: none;
}

.front-carousel-item-mobile {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.front-carousel-menu a:focus {
	color: inherit;
}

.front-carousel-menu .active {
	background: white;
}

.front-sidebar-logo {
	width: 110px;
}

.front-article-title {
	margin-bottom: 7px;
	margin-top: 0px;
}

.carousel-desc {
	margin-bottom: 0px;
}

#carouselMenuSpacer, #carouselMenuSpacer1{
	font-size: 45px;
	visibility: hidden;
	z-index: -1;
}

/* edits to default Bootstrap carousel */
.carousel-control:focus, .carousel-control:hover {
	color: rgb(179, 179, 179);
}

.carousel-control .glyphicon-triangle-left, .carousel-control .icon-prev {
	margin-left: -10px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 30px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .icon-prev {
	left: 50%;
	margin-left: -10px;
}

.carousel-control .glyphicon-triangle-left, .carousel-control .glyphicon-triangle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
}

.carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
	margin-right: -10px;
}

.carousel-control .glyphicon-triangle-right, .carousel-control .icon-next {
	right: 50%;
	margin-right: -10px;
}


.carousel-inner > .item {
	height: 100%;
}

.carousel-control {
	left: -100px;
	color: rgb(179, 179, 179);
	text-shadow: none;
}

.carousel-control.left{
	background-image: none;
}

.carousel-control.right {
	right: -100px;
	background-image: none;
}

@media (max-width: 767px){

	.carousel-caption {
		text-shadow: none;
		color: inherit;
		padding-left: 50px;
		padding-right: 50px;
		height: 70px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #e6e6e6;
		text-overflow: ellipsis;
		display: table;
		height: 16%;
		bottom: 0px;
	}

/*	.carousel-inner {
		height: 360px;
	}*/

}

@media (min-width: 768px){
	.carousel-caption {
		text-shadow: none;
		color: inherit;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 50px;
		padding-right: 50px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #e6e6e6;
		text-overflow: ellipsis;
		display: table;
		height: 16%;

	}

	.carousel-inner {
		height: 400px;
	}
}

@media (max-width: 991px){
	.carousel-control {
		left: 5px;
		color: rgb(255, 255, 255);
		text-shadow: none;
	}
	.carousel-control:focus, .carousel-control:hover {
		color: rgb(179, 179, 179);
	}

	.article-list .text-right{
		text-align: center;
	}

	.article-list .text-left{
		text-align: center;
	}

	.carousel-control.right {
		right: 5px;
		background-image: none;
	}
}
@media (min-width: 992px){

	.carousel-caption {
		text-shadow: none;
		color: inherit;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 50px;
		padding-right: 50px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #e6e6e6;
		text-overflow: ellipsis;
		display: table;
		height: 16%;
	}

	.carousel-inner {
		height: 300px;
	}
}

@media (min-width: 1200px){
	.carousel-caption {
		text-shadow: none;
		color: inherit;
		bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 50px;
		padding-right: 50px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #e6e6e6;
		text-overflow: ellipsis;
		display: table;
		height: 18%;
	}

	.carousel-inner {
		height: 400px;
	}

	.issue-column-left{
		padding-left: 60px;
	}
}


.carousel-caption h4{
	margin-top: 0px;
	margin-bottom: 0px;
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 767px){
	.footer-link {
		display: block;
		margin-bottom: 10px;
	}
	
	footer {
		background-color: #333;
		padding: 15px;
		color: white;
		height: 190px;
		font-size: 16px;
		margin-top: 40px;
	}

	footer img {
		width: 50px;
		float: left;
		margin-top: 15px;
	}
}

@media (min-width: 768px){
	.footer-link {
		margin-right: 15px;
	}

	footer {
		background-color: #333;
		padding: 15px;
		color: white;
		height: 74px;
		font-size: 16px;
		margin-top: 40px;
	}

	footer img {
		width: 50px;
		float: left;
	}
}

footer p {
	margin-bottom: 0px;
}

.footer-copyright {
	color: rgb(168, 168, 168);
	margin-top: 10px;
}
.footer-links {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-link-row {
	margin-bottom: 2px;
}

.category-carousel {
	margin-top: 50px;
	margin-bottom: 50px;
}

.category-carousel-caption {
	text-transform: uppercase;
}

.category-carousel-image-container {
	height: 84%;
	overflow: hidden;
}

.category-carousel-image-container img {
	display: block;
	width: 100%;
}

.mobile-nav {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mobile-nav li {
	padding-right: 15px;
}

.article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
}

.load-post-placeholder .article-image {
	transition: 1s;
	opacity: 0;
}

.article-link .article-desc {
	font-family: 'Swift', 'Times New Roman';
	font-size: 14px;
}

.article-link h4 {
	font-size: 16px;
}

.article-link:last-child{
	margin-bottom: 0px;
}

.article-author {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.article-date {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.article-link {
	margin-bottom: 50px;
	padding: 6px;
	padding-right: 12px;
}

.article-image {
	width: 100%;
	padding-bottom: 15px;
}

.article-list {
	margin-top: 50px;
}

.article-category {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.load-post-placeholder {
	margin-bottom: 20px;
}

.load-post-loading {
	animation: spin 1s linear infinite;
	width: 40px;
	display: none;
	opacity: 0.8;
}

#load-post-button {
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-family: "Gotham", sans-serif;
}

.load-post-button-inner {
	background: #b3b3b3;
	padding: 12px;
	cursor: pointer;
}

.load-post-button-inner:hover {
	color: white;
	background: #dadada;
}

.category-title-border {
	border-top: 2px solid rgb(179, 179, 179);
	margin-bottom: 0px;
	margin-top: 10px;
}

.post-divider {
	margin-left: -600px;
	padding-bottom: 10px;
}

.category-title {
	font-family: 'Gotham', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	background: rgb(179, 179, 179);
}

.title-multimedia {
	display: inline-block;
}

.multimedia-icon {
	width: 40px;
	padding-bottom: 6px;
}

.front-magazine {
	border: 2px solid;
	padding: 22px;
}

.front-magazine img {
	width: 100%;
	margin-bottom: 15px;
}

.front-magazine-intro {
	font-family: 'Gotham', sans-serif;
	
}

.front-magazine-desc {
	font-family: 'Gotham Book', sans-serif;
}

.front-magazine-link {
	font-family: 'Gotham';
}

.post-featured-image img{
	width: 100%;
	height: auto;
}

.post-featured-image-desc {
	font-size: 16px;
	margin-bottom: -12px;
	font-style: italic;
	color: #717171;
}

.author-avatar {
	display: inline-block;
	margin-right: 10px;
}

.author-name {
	text-transform: uppercase;
}

.page-content {
	margin-top: 50px;
}

#post a{
	color: #337ab7;
}

#post a:hover{
	color: #23527c;
}

.post-container {
	margin-bottom: 40px;
}
.post-info {
	font-family: 'Helvetica', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	font-size: 16px;
}

.post-intro {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.post-date {
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
}

.post-tag {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background: #B3B3B3;
	padding: 5px 7px;
	color: white;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: -16px;
	font-size: 15px;
}

@media (min-width: 768px){
	.post-content {
		font-family: 'Tiempo', 'Times New Roman';
		font-size: 18px;
		padding-left: 120px;
		margin-top: 15px;
	}
}

@media (max-width: 767px){
	.post-content {
		font-family: 'Tiempo', 'Times New Roman';
		font-size: 18px;
		margin-top: 15px;
	}
}

#post-end {
	margin-bottom: 50px;
}

.post-container {
	border-right: 1px solid rgb(219, 215, 215);
}

.social-links {
	margin-top: 10px;
}


.social-links img {
	width: 30px;
	margin-right: 3px;
}

.social-links a {

}

.post-sidebar {
	padding-left: 21px;
	padding-right: 21px;
}

.adbox{
	background: gray;
	
}

.ad-top{
	margin-bottom: 20px;
}

.ad-header{
	font-family: 'Gotham', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 30px;
}

.wide {
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.magazine-image {
	width: 100%;
	margin-top: 40px;
	border: 1px solid #BCBCBC;
	padding: 25px;
}

.mag-page-article {
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.mag-article-title {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: 500;
	margin-bottom: 6px;
	margin-top: 6px;
}

.mag-author {
	font-family: 'Swift', 'Georgia';
	font-size: 16px;
	font-style: italic;
}

.mag-page-article.cover {
	border: 1px solid black;
	padding-top: 14px;
	padding-bottom: 14px;
}

.mag-cover-header {
	font-family: 'Akzidenz Grotesk', sans-serif;
	font-weight: bold;
	margin-top: 0px;
}

.feature-header{
	overflow-y: hidden;
	height: 560px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.18);
}

.feature-header-title{
	font-size: 80px;
	text-align: center;
	color: white;
	font-family: 'Gotham', sans-serif;
	margin-top: 200px;
}

.feature-header-subtitle{
	font-size: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: 'Gotham', sans-serif;
	margin-bottom: 40px;
}

.feature-header-author{
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 22px;
	font-family: 'Helvetica', sans-serif;
}

.feature-header-video{
	width: 100%;
	position: absolute;
	top: -100px;
	z-index: -1;
}

.feature-desc {
	font-size: 25px;
	text-align: center;
	position: relative;
	top: 40px;
	margin-bottom: 60px;
	background: #303030;
	z-index: -2;
	line-height: 1.8em;
	color: white;
	font-family: 'Gotham Book', sans-serif;
	font-weight: normal;
}

.feature-desc .container p{
	padding-bottom: 45px;
}

.video-quote {
	margin-top: 60px;
	margin-bottom: 60px;
}

.video-quote video{
	width: 100%;
}

.flowchart-container{
	margin-top: 60px;
	margin-bottom: 60px;
}
.flowchart-intro{
	text-align: center;
	font-family: 'Gotham' !important;
	font-weight: normal !important;
	text-transform: uppercase;
}

.flowchart-desc{
	text-align: center;
	margin-bottom: 50px;
}

.flowchart-ques{
	font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
	color: white;
}

.flowchart-restart{
	font-weight: 500;
	font-family: 'Gotham';
	font-size: 25px;
	cursor: pointer;
	color: white;
}

.flowchart-main{
	background: #303030;
	padding-top: 30px;
	padding-bottom: 30px;
}

.button-select {
	border-radius: 5px;
	background-color: rgb(208, 208, 208);
	height: 60px;
	font-family: 'Gotham';
	font-weight: 500;
	font-size: 25px;
	transition: 0.4s;
	text-align: center;
	vertical-align: middle;
	padding: 10px 7px;
	cursor: pointer;
	display: inline-block;
	margin-right: 15px;
	width: 12%;
}

.nominee {
	margin-top: 50px;
	margin-bottom: 80px;
}

.nominee-name {
	font-family: "Gotham", sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}

.nominee-title {
	font-family: "Swift", "Times New Roman";
	font-style: italic;
	font-size: 20px;
}

.nominee-image {
	width: 180px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 40px;
}

.nominee-info {
	display: inline-block;
}

.nominee-divider {
	border-bottom: 1px solid rgb(219, 215, 215);
}

.nominee-votes {
	margin-top: 15px;
	display: inline-block;
	width: 90%;
}

.nom-tab{
	font-family: "Myriad Pro", sans-serif;
	color: inherit !important;
}

.results {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-top: 8px;
	margin-bottom: 2px;
}

.results.donate {
	background: #baecb7;
}

.vote-indicator {
	width: 70px;
	display: inline-block;
	height: 70px;
	vertical-align: top;
	margin-top: 25px;
	margin-right: 30px;
	color: white;
	font-size: 35px;
	padding: 12px;
	text-align: center;
}

.summary {
	font-family: "Gotham", sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
}

.summary.donate {
}

.summary-voting {
	font-family: "Gotham Book", sans-serif;
	margin-top: -9px;
	margin-bottom: 30px;
}

.senator-info {
	font-size: 17px;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
}

.senator-desc {
	font-family: "Helvetica", sans-serif;
	font-size: 17px;
}

.vote-tooltip {
	position: absolute;
	background: #fff;
	top: 530px;
	z-index: 1000;
	max-width: 300px;
	display: inline-block;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #c5c5c5;
	transition: opacity 0.5s;
	opacity: 0;
}

.for {
	background: #77dd67;
}

.against {
	background: #e26363;
}

.vote {
	width: 20px;
	border-radius: 50%;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.red {
	background: #e94949;
}

.blue {
	background: #486fce;
}

@media (max-width: 767px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 3.5%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}

@media (min-width: 768px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 3.5%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}

@media (min-width: 992px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 3.3%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}

@media (min-width: 1200px){
	.category-menu-item {
		font-family: 'Gotham', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: rgb(179, 179, 179);
		margin: 4.2%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
	}
}

@media (max-width: 991px){
	.square {
		width: 60%;
		padding: 6px;
		/*margin-bottom: 50px;*/
		/*height: 250px;*/
	}

	.tall {
		width: 60%;
		padding: 6px;
		margin-bottom: 30px;
		/*height: 550px;*/
		/*margin-top: 30px;*/
	}
}

@media (min-width: 992px){
	.square {
		width: 100%;
		padding: 6px;
		/*margin-bottom: 50px;*/
		/*height: 250px;*/
	}

	.tall {
		width: 100%;
		padding: 6px;
		margin-bottom: 30px;
		/*height: 550px;*/
		/*margin-top: 30px;*/
	}
}

.pagination-page {
	font-family: "Gotham", sans-serif;
	font-size: 25px;
	margin-right: 30px;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	display: inline-block;
}

.pagination-page.active {
	color: white;
	background: #B3B3B3;
	border-radius: 50%;
}

.fb_iframe_widget {
	top: 5px;
	margin-left: 12px;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }